# --- POSTGRES CONFIG ---
POSTGRES_USER=
POSTGRES_PASSWORD=

# --- RABBITMQ CONFIG ---
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

# --- MINIO CONFIG ---
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# --- WATCHER CONFIG ---

WATCHER_DB_URL=
WATCHER_REDIS_URL=
WATCHER_REDIS_URL_BACKEND=
WATCHER_RABBITMQ_URL=
WATCHER_COINGECKO_BASE_URL=
WATCHER_AUTH_SERVICE_URL=
WATCHER_INTERNAL_SERVICE_TOKEN=

AUTH_DATABASE_URL=
AUTH_SECRET_KEY=
AUTH_REDIS_URL=
AUTH_INTERNAL_SERVICE_TOKEN=

FLOWER_USER=
FLOWER_PASSWORD=
